//color vars
$white: #ffffff;
$white-light: #f3f3f3;
$blue-light: #4d70c2;
$blue-dark: #365eb5;
$green: #29923e;
$green-dark: #009879;
$yellow: #bca92d;
$yellow-dark: #a89855;
$red: #e36c1e;
$black: #000000;
$gray: #34495e;
$orange: #f39c12;
$light-gray: #aaa;
$black-op-05: rgba(0, 0, 0, 0.822);

//shadow
$blue-light-shadow: #37569f;
$blue-dark-shadow: #27407e;
$green-shadow: #226d2d;
$yellow-shadow: #908023;
$red-shadow: #9f4a13;
$yellow-dark-shadow: #786b3c;
