@use '../../styles/variables';

.select {
  position: relative;
  display: flex;
  width: 22rem;
  height: 3rem;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25rem;
  &-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
  &::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1rem;
    background: variables.$gray;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
  }
  &:hover::after {
    color: variables.$green;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: variables.$white;
    background-image: none;
    flex: 1;
    padding: 0 0.5rem;
    color: variables.$black;
    font-size: 1rem;
    cursor: pointer;
    &::-ms-expand {
      display: none;
    }
  }
}
