@use '../../styles/variables';

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: variables.$black-op-05;
  padding: 1.5rem;
  &-content {
    margin: 0 auto;
    margin-top: 5rem;
    max-width: 500px;
    min-height: 300px;
    border-radius: 1rem;
    background-color: variables.$white;
    position: relative;
    color: variables.$black;
    h4 {
      margin-bottom: 2rem;
      font-size: 1.8rem;
      font-weight: 700;
    }
    & > p {
      padding: 0 1rem 1.5rem 1rem;
      font-size: 1.2rem;
    }
  }
  &-button {
    position: absolute;
    right: -1.5rem;
    top: -1.5rem;
    height: 3rem;
    width: 3rem;
    color: variables.$white;
    font-size: 0.9rem;
    color: variables.$white;
    background-color: variables.$red;
    border-radius: 50%;
  }
  .country {
    &-img {
      width: 100%;
      min-height: 20rem;
      margin-bottom: 1.5rem;
      object-fit: cover;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
    &-name {
      font-size: 2rem;
      font-weight: 700;
    }
    &-info {
      margin-left: 0.2rem;
    }
  }
  .spinner {
    margin: 0 auto;
    &-container {
      padding: 3rem;
    }
  }
  @media screen and (max-width: 468px) {
    &-content {
      h4 {
        font-size: 1.4rem;
      }
      > p {
        font-size: 1rem;
      }
    }
  }
}
