@use './styles/variables';
@use './styles/mixins';

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  color: variables.$white;
}

h1 {
  text-align: center;
  padding: 4rem 0;
}

/* Scrollbar */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: variables.$gray-dark variables.$black;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: linear-gradient(
    90deg,
    variables.$gray-medium,
    variables.$gray-medium 1px,
    variables.$black-dark 0,
    variables.$black-dark
  );
}

*::-webkit-scrollbar-thumb {
  background-color: variables.$gray-dark;
  border-radius: 10px;
  // border: 2px solid variables.$white;
  box-shadow: inset 2px 2px 2px rgba(230, 222, 222, 0.568), inset -2px -2px 2px rgba(90, 87, 87, 0.37);
}
