.card {
  margin-left: calc(-1 * (var(--spacing)));
  &-item {
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    float: left;
  }
  .spinner {
    margin: 1rem auto;
  }
  &::after {
    content: '';
    display: block;
    clear: left;
  }
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    &-item {
      --columns: 2;
    }
    &-content {
      font-size: 3.5rem;
    }
  }
  @media screen and (max-width: 600px) {
    &-item {
      --columns: 1;
    }
    &-content {
      font-size: 4.3rem;
    }
  }
}
